.scarch{
    padding: 10px;
    background-color: aqua;
    display: flex;
    justify-content: center;
}



input{
    width: 30%;
    height: 2.2rem;
    outline: none;
    padding: 10px;
    border: none;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
}

button{
    height: 2.2rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    bordes
}