.scarch{
    background-color: aqua;
    display: flex;
    
}



input{
    width: 30%;
    height: 2rem;
    outline: none;
    padding: 10px;
    border: none;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
}

button{
    height: 2rem;
}