.scarch{
    padding: 10px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

svg{
    fill: ;
}

input{
    background-color: #5ec1f7;
    width: 30%;
    height: 2.2rem;
    outline: none;
    padding: 10px;
    border: 2px solid rgb(147, 223, 253);
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
}

button{
    background-color: #5ec1f7;
    height: 2.2rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
}


input:focus, button:focus{
border: 2px solid #003cff;
}