.wather-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 219, 236, 0.441);
    width: 18rem;
    height: 15rem;
    border-radius: 10px;
}