.wather-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 113, 201);
    /* width: 18rem; */
    height: 15rem;
}